<!-- src/app/app.component.html -->

<div id="div1">
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
          </div>
        </div>
      </nav>
      

    <img src="../assets/img1.jpg" style="padding-left: 150px; height: 150px; width: 350px;" />
      </div>
      
      <div id="div2">
        <div id="div3">
          <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
            <label for="fname">First Name </label>
            <input type="text" formControlName="fname" placeholder="Nitish" class="form" /><br /><br />
      
            <label for="lname">Last Name </label>
            <input type="text" formControlName="lname" placeholder="Veni" class="form" /><br /><br />
      
            <label for="date">Date Please </label>
            <input type="date" formControlName="date" /><br /><br />
      
            <label for="address">Address </label>
            <textarea formControlName="address" cols="15" rows="3" placeholder="Address"></textarea><br /><br />
      
            <label>Gender </label><br />
            <input type="radio" formControlName="gender" id="male" value="Male" />
            <label for="male">Male</label>
            <input type="radio" formControlName="gender" id="female" value="Female" />
            <label for="female">Female</label><br /><br />
      
            <label>Different Options </label><br />
            <input type="checkbox" formControlName="options" (change)="onCheckboxChange($event, 'Filter coffee')" />
            <label for="kapi">Filter Coffee</label>
            <input type="checkbox" formControlName="options" (change)="onCheckboxChange($event, 'Cappuccino')" />
            <label for="cappuccino">Cappuccino</label><br /><br />
      
            <label>Type </label><br />
            <input type="radio" formControlName="type" id="takeaway" value="takeaway" />
            <label for="takeaway">Take-away</label>
            <input type="radio" formControlName="type" id="delivery" value="delivery" />
            <label for="delivery">Delivery</label><br /><br />
      
            <label for="payment">Payment </label>
            <select formControlName="payment">
              <option>UPI</option>
              <option>Debit Card</option>
              <option>Cash</option>
            </select><br /><br />
      
            <label>Tip </label>
            <input type="range" formControlName="tip" min="50" max="500" value="50" /><br /><br />
      
            <button type="submit" class="btn btn-outline-secondary">Register Now!</button>
            <span> </span>
            <button id="reset" value="Reset" type="reset" class="btn btn-outline-secondary">Reset</button>
          </form>
        </div>
        <br /><br />
      
        <div id="div4">
          <h2>Displaying Entered Data</h2>
          <table id="datatable">
            <tr>
              <th>FName</th>
              <th>LName</th>
              <th>Date</th>
              <th>Address</th>
              <th>Gender</th>
              <th>Options</th>
              <th>Type</th>
              <th>Payment</th>
              <th>Tip</th>
            </tr>
            <tr *ngFor="let entry of entries">
              <td>{{ entry.fname }}</td>
              <td>{{ entry.lname }}</td>
              <td>{{ entry.date }}</td>
              <td>{{ entry.address }}</td>
              <td>{{ entry.gender }}</td>
              <td>{{ entry.options.join(', ') }}</td>
              <td>{{ entry.type }}</td>
              <td>{{ entry.payment }}</td>
              <td>{{ entry.tip }}</td>
            </tr>
          </table>
        </div>
      </div>
      







<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>

    //JavaScript 
    <script src="RegFormDyn.js"></script>

    //Bootstrap CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    //Bootstrap JS 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    
</head>

<body>
    <div id="div1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        //<a class="navbar-brand" href="#">Navbar</a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="height: 30px; width:400px ;">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="height: 30px; text-align:end;">Search</button>

      </nav>
      
    //<h1 >Order a coffee!.</h1> 
     <img src="../assets/img1.jpg" style="padding-left: 150px; height: 150px; width: 350px;" />
    </div>

    <div id="div2" >
        <div id="div3">
            <form onsubmit="updateTable()">
                <label for="fname">First Name </label>
                <input type="text" placeholder="Nitish" id="fname" class="form" />
                <br /><br />

                <label for="lname">Last Name </label>
                <input type="text" placeholder="Veni" id="lname" class="form" />
                <br /><br />

                <label for="date">Date Please </label>
                <input type="date" id="date" />
                <br /><br />

                <label for="address">Address </label>
                <textarea cols="15" rows="3" placeholder="Address" id="address"></textarea>
                <br /><br />

                <label>Gender </label><br />
                <input type="radio" name="gender" id="male" value="Male">
                <label for="male">Male</label>
                <input type="radio" name="gender" id="female" value="Female">
                <label for="female">Female</label>
                <br /><br />

                <label>Different Options </label><br />
                <input type="checkbox" name="options" id="kapi" value="Filter coffee">
                <label for="kapi">Filter Coffee</label>
                <input type="checkbox" name="options" id="cappuccino" value="Cappuccino">
                <label for="cappuccino">Cappuccino</label>
                <br /><br />

                <label>Type </label><br />
                <input type="radio" name="type" id="takeaway" value="takeaway">
                <label for="takeaway">Take-away</label>
                <input type="radio" name="type" id="delivery" value="delivery">
                <label for="delivery">Delivery</label>
                <br /><br />

                <label for="payment">Payment </label>
                <select>
                    <option>UPI</option>
                    <option>Debit Card</option>
                    <option>Cash</option>
                </select>
                <br /><br />

                <label>Tip </label>
                <input type="range" min="50" max="500" value="50" />
                <br /><br />

                <button type="submit" class="btn btn-outline-secondary">Register Now!</button><span> </span>
                <button id="reset" value="Reset" type="reset" class="btn btn-outline-secondary">Reset</button>
            </form>
        </div>
        <br /><br />

        <div id="div4">
            <h2>Displaying Entered Data</h2>
            <table id="datatable">
                <tr>
                    <th>FName</th>
                    <th>LName</th>
                    <th>Date</th>
                    <th>Address</th>
                    <th>Gender</th>
                    <th>Options</th>
                    <th>Delivery</th>
                </tr>
            </table>
        </div>
    </div>

    
</body>

</html> -->
