/* src/app/app.component.css */
table,
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

body {
    background-color: #c4c1b8;
    border-radius: 0.5%;
}

h1 {
    font-style: italic;
    margin-left: 50px;
}

#div2 {
    background-color: #dfd3c3;
    padding: 50px;
    display: flex;
    border-radius: 1%;
}

#div3 {
    border: 1px solid black;
    width: 600px;
    padding: 10px;
}

#address {
    height: 40px;
    width: 150px;
}

#div4 {
    padding-left: 150px;
    padding-top: 10px;
    border: 1px solid black;
    height: 600px;
    width: 100%;
    margin-left: 1%;
}
