<div class="d-flex justify-content-end mb-4">
  <button mat-raised-button type="button" class="btn btn-primary btn" style="margin-right: 2.4%;" (click)="back()">
    <i class="fas fa-arrow-left"></i> Back
  </button>
</div>

<div class="container">
  <form [formGroup]="addHotelForm" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-group">
      <div class="form-row">
        <label for="hotelid" class="col-form-label">Hotel ID</label>
        <input type="number" formControlName="hotelid" id="hotelid" class="form-control col-input" />
      </div>
      <div *ngIf="addHotelForm.get('hotelid').touched && addHotelForm.get('hotelid').invalid" class="text-danger">
        Hotel ID is required.
      </div>

      <div class="form-row">
        <label for="name" class="col-form-label">Hotel Name</label>
        <input type="text" formControlName="name" id="name" class="form-control col-input" />
      </div>
      <div *ngIf="addHotelForm.get('name').touched && addHotelForm.get('name').invalid" class="text-danger">
        Hotel Name is required.
      </div>

      <div class="form-row">
        <label for="location" class="col-form-label">Location</label>
        <input type="text" formControlName="location" id="location" class="form-control col-input" />
      </div>
      <div *ngIf="addHotelForm.get('location').touched && addHotelForm.get('location').invalid" class="text-danger">
        Location is required.
      </div>

      <div class="form-row">
        <label for="price" class="col-form-label">Price</label>
        <input type="number" formControlName="price" id="price" class="form-control col-input" />
      </div>
      <div *ngIf="addHotelForm.get('price').touched && addHotelForm.get('price').invalid" class="text-danger">
        Price is required.
      </div>

      <div class="form-row">
        <label for="availability" class="col-form-label">Availability</label>
        <input type="text" formControlName="availability" id="availability" class="form-control col-input" />
      </div>
      <div *ngIf="addHotelForm.get('availability').touched && addHotelForm.get('availability').invalid" class="text-danger">
        Availability is required.
      </div>

      <div class="form-row">
        <label for="contact" class="col-form-label">Contact</label>
        <input type="text" formControlName="contact" id="contact" class="form-control col-input" />
      </div>
      <div *ngIf="addHotelForm.get('contact').touched && addHotelForm.get('contact').invalid" class="text-danger">
        Contact is required.
      </div>

      <div class="form-row">
        <label for="dateAdded" class="col-form-label">Date Added</label>
        <input type="date" formControlName="dateAdded" id="dateAdded" class="form-control col-input" />
      </div>
      <div *ngIf="addHotelForm.get('dateAdded').touched && addHotelForm.get('dateAdded').invalid" class="text-danger">
        Date Added is required.
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-block submit-btn">Add Hotel</button>
      </div>
    </div>
  </form>
</div>
