<h4>Guest Information</h4>
<div class="container">
    <form (ngSubmit)="updateGuest()">
        <!-- <div class="form-group">
            <label for="guestId">Guest ID</label>
            <input type="number" class="form-control" id="guestId" name="guestId" [(ngModel)]="guest.guestId" required>
        </div> -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="guest.name" required>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" name="age" [(ngModel)]="guest.age" required>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender" [(ngModel)]="guest.gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="text" class="form-control" id="contact" name="contact" [(ngModel)]="guest.contact" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="guest.email" required>
        </div>
        <div class="form-group">
            <label for="checkInDate">Check-In Date</label>
            <input type="date" class="form-control" id="checkInDate" name="checkInDate" [(ngModel)]="guest.checkInDate" required>
        </div>
        <div class="form-group">
            <label for="checkOutDate">Check-Out Date</label>
            <input type="date" class="form-control" id="checkOutDate" name="checkOutDate" [(ngModel)]="guest.checkOutDate" required>
        </div>
        <div class="form-group">
            <label for="roomNumber">Room Number</label>
            <input type="text" class="form-control" id="roomNumber" name="roomNumber" [(ngModel)]="guest.roomNumber" required>
        </div>
        <div class="form-group">
            <label for="remarks">Remarks</label>
            <textarea class="form-control" id="remarks" name="remarks" [(ngModel)]="guest.remarks"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Update</button>&nbsp;
        <button type="reset" class="btn btn-warning mt-3">Reset</button>
    </form>
</div>
