<!-- MangerId, Password -->
<div class="container mt-5 p-4 shadow w-30 h-80">

    <form [formGroup]="loginForm">
        <label>ManagerID</label>
        <input type="text"  formControlName="managerid" class="form-control"
        [ngClass]="{'is-invalid': loginForm.controls['managerid'].errors, 'boldItalicError': loginForm.controls['managerid'].errors }">

        <label>Password</label>
        <input type="password"  formControlName="password" class="form-control"
        [ngClass]="{'is-invalid': loginForm.controls['password'].errors, 'boldItalicError':loginForm.controls['password'].errors }" />
        <br>
        
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Login</button>
        &nbsp;
        <button type="reset" class="btn btn-warning">Reset</button>
    </form>
    
</div>
