<div class="d-flex flex-column vh-100">
  
  <header>
    <nav class="navbar navbar-expand-lg navbar-light"style="background-color: rgb(235, 234, 236)">
      <a class="navbar-brand" >Issue Tracker</a>
      
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" routerLink="/" >Home</a>
          <a class="nav-item nav-link" routerLink="/login" >Login</a>
          <a class="nav-item nav-link" routerLink="/issuelist">Issues</a>
                    
        </div>
      </div>
    </nav>
  </header>
  
  <section class="container flex-grow-1">
    <router-outlet/>
  </section>
  

  <footer class="text-center p-3 mt-2" style="background-color: rgb(235, 234, 236);">
    <h5>Thanks for using the app</h5>
  </footer>
</div>



