#one{
    background-color: #9fd3c7;
    background-color: background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: 200px;
    width:200px;
    margin: auto;
    border-radius: 10%;
    border: 1px solid rgb(84, 83, 83);
    color:rgb(46, 45, 42);
    padding: 100px;
    padding-top: 10px;
    padding-left: 10px;
}
#two{
    padding-left: 55px;
    width: auto;
    font-size: 23px;
    }
#three{
    padding-left:10px;
    background-color: #ececec;
    height:20px;
}
#four{
    padding-left: 10px;
    background-color: #ececec;
    height: 20px;
}