<!-- <h1>My Angular App.....</h1> <br>
 <h2>Property : {{title}}</h2> 
<h3>List of Employees</h3>
<table>
    <thead>
        <tr>
            <td>ID </td>
            <td>Name</td>
            <td>Salary</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.salary}}</td>
        </tr>
    </tbody>
</table> -->

<form [formGroup]="addForm" (ngSubmit)="saveEmployee()">
    <div>
      <label for="id">ID:</label>
      <input id="id" formControlName="id" type="text" [readonly]="employeeData" />
    </div>
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" type="text" />
    </div>
    <div>
      <label for="salary">Salary:</label>
      <input id="salary" formControlName="salary" type="number" />
    </div>
    <button type="submit">{{ employeeData ? 'Update' : 'Add' }} Employee</button>
</form>