
<!-- <h1>Angular App..</h1>
<h2>Property: {{title}}</h2>
<h3>List of Employees</h3>
<table>
    <thead>
        <tr>
            <td>ID:</td>
            <td>Name:</td>
            <td>Salary:</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.salary}}</td>
        </tr>
    </tbody>
</table> -->

<h1>Employee Management</h1>
<button (click)="addEmployee()">Add Employee</button>

<app-addemp *ngIf="selectedEmployee !== undefined || selectedEmployee === undefined" 
            [employeeData]="selectedEmployee" 
            (formSubmit)="handleFormSubmit()">
</app-addemp>

<h2>List of Employees</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{employee.id}}</td>
      <td>{{employee.name}}</td>
      <td>{{employee.salary}}</td>
      <td>
        <button (click)="editEmployee(employee)">Edit</button>
        <button (click)="deleteEmployee(employee.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
