<div class="container">
    <form (ngSubmit)="updateIssue()">
    <div class="form-group">
        <label for="issueid">Issue-ID</label>
        <input type="text" class="form-control" id="issueid" name="issueid" [(ngModel)]="issue.issueid">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="issue.title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" name="description" [(ngModel)]="issue.description">
    </div>
    <div class="form-group">
        <label for="priority">Priority</label>
        <input type="text" class="form-control" id="priority" name="priority" [(ngModel)]="issue.priority">
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" name="status" [(ngModel)]="issue.status">
    </div>
    <div class="form-group">
        <label for="assign">Assign</label>
        <input type="text" class="form-control" id="assign" name="assign" [(ngModel)]="issue.assign">
    </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="issue.date">
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update</button>&nbsp;
    <button type="reset" class="btn btn-warning mt-3">Reset</button>
</form>
</div>

